# Description:
#   - Environment variables for the Hermes agent service.
# Author: Andrii Sadovskyi <andrii.sadovskyi@gmail.com>

HERMES_AGENT_API_URL={{ hermes_agent_api_url }}
HERMES_HOME={{ hermes_agent_home_dir }}
HERMES_MODEL_ID={{ hermes_agent_model_id }}
HERMES_CONTEXT_LENGTH={{ hermes_agent_context_length }}
HERMES_MODEL_API_KEY={{ hermes_agent_model_api_key }}
HERMES_TELEGRAM_BOT_TOKEN={{ hermes_agent_telegram_bot_token }}
HERMES_TELEGRAM_ALLOWED_USERS={{ hermes_agent_telegram_allowed_users }}
HERMES_AGENT_HOST={{ hermes_agent_bind_host }}
HERMES_AGENT_PORT={{ hermes_agent_bind_port }}
